body{
  background-color:white;
}
.navbar{
  background-color:rgb(216, 1, 98);
  width:auto;
  height:auto;
}
.hover-effect:hover {
  border:rgb(255, 77, 157);;
  transition:all 3s;
}

.link-opacity-75-hover:hover {
  border-bottom:2px solid white;
  transition:all 3s;

}
.backListing{
  background-color:rgb(224, 223, 223);
  padding:0.6rem;
  text-decoration:none;
}
.offcanvas{
  background-color:rgb(255, 77, 157);
  color:white;
  text-decoration:none;
}
.home-heading,.faq-heading{
  color:rgb(164, 15, 82);;
}
.carousel-check{
  margin-left:6%;
  margin-top:2%;
}
.homecart {
  background-color: rgb(254, 254, 254);
  box-shadow: 0 4px 8px rgba(102, 102, 102, 0.3);
  height:100%;
  position: fixed;
  margin-left:70%;
  width:30%;
  top: 30%; 
  color: rgb(164, 15, 82);
  padding: 10px; 
}
.MainPageMart {
  display:flex;
  flex-wrap: wrap;
  width:50rem;
}
.imageHolder{
  background-color:rgb(253, 236, 245);
  border-radius:0.3rem;
}
.imageCarousel{
  width:50rem;
  height:30rem;
}
.incrementimage:hover{
  background-color:rgb(150, 138, 145);
  border-radius:0.5rem;
  padding:0.1rem;
  transition: all 0.1ms;
}
.footer{
  width:100%;
  height:auto;
  color:white;
  background-color: rgb(184, 53, 112);
}
.ProductImage{
  box-shadow: 0 4px 8px rgba(183, 179, 179, 0.3);
  margin-bottom: 0.5rem; 
  max-width: 100%; 
  height: auto; 
}
.ProductImage:hover{
  box-shadow: 0 4px 8px rgba(80, 78, 78, 0.3);
  cursor:pointer;
  margin-bottom: 0.5rem; 
    max-width: 100%; 
    height: auto; 
}
.custom-list li::marker {
  color: rgb(255, 77, 157);
}
.image-container{
  
  height:35rem;
  overflow: hidden;
  background-image:url('https://images.deliveryhero.io/image/foodpanda/home-vendor-pk.jpg?width=1400&height=896');
}
.image-card{
  opacity:1.3;
  margin-top:10rem;
  width:38rem;
  margin-left: 5rem;;
  height:auto;
}
.loginForm{
  color:rgb(184, 53, 112);;
}
.SignInBorder{
  border:1px;
  border-color:rgb(184, 53, 112);
}
.categories{
  width:6rem;
  height:6rem;
  background-color: white;
  margin-left:2rem;
  text-decoration:none;
  border:1px solid rgb(218, 213, 213);
  border-radius:2px;
  box-shadow: 0 4px 8px rgba(201, 185, 185, 0.3);
  

}
.categories:hover{
  width:6rem;
  height:6rem;
  background-color: white;
  margin-left:2rem;
  text-decoration:none;
  border:1px solid rgb(218, 213, 213);
  border-radius:2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.ImageContainer {
  width:60rem;
  display: flex;
  flex-wrap: wrap;
  top:20%;
  gap: 2rem; /* Adjust the gap between items */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(148, 146, 146, 0.3);
 
}

.productContainer{
  cursor:pointer;
  width:10rem;
  gap:1rem;
  box-shadow: 0 4px 8px rgba(181, 176, 176, 0.3);
}
.productContainer:hover{
  box-shadow: 0 4px 8px rgba(74, 72, 72, 0.3);
  cursor: pointer;
}


.ProductImage {
  max-width: 100%;
  height: auto;
}


@media (max-width:968px){
  .MainPageMart,.ImageContainer {
   
    width: 45rem; /* Set the width as you intended */
  }
}
@media(max-width:768px){
  .offcanvas ul.nav-item li.nav-link{
      width:100%;
  }
  .responsive-img {
    width:50%;
   }
   .image-card{
    margin-left:0.3rem;
    margin-right:0.3rem;
    width:30rem;
    height:auto;
  }
  .imageCarousel{
    width:25rem;
    height:15rem;
    margin-left:1rem;
  }
  .carousel-check{
    display:flex;
    justify-content:center;
  }
  .MainPageMart,.ImageContainer {
   
    width: 25rem; /* Set the width as you intended */
  }
}

@media (min-width: 768px) {
  .responsive-img {
    width: 300px; 
    height: auto; 
  }
  
}
